<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
  
  </head>
  <%- include('navbar.ejs') %>
  <main class="main-content">

    <div class="fullwidth-block" data-bg-color="#f1f1f1">
      <div class="container">
        <h2 class="section-title">The history</h2>
<p style="font-size: 1.5rem">We started this company in 2023
  Our insurance company has a rich history that spans over several decades. It all began with a vision to provide top-quality insurance products and services to our community. Our founders recognized the need for affordable insurance solutions that could protect individuals and businesses from unforeseen risks and losses.
  Over the years, we have grown and expanded our offerings to meet the evolving needs of our clients. We have built a reputation for excellence in the insurance industry, thanks to our commitment to providing exceptional customer service and innovative insurance products.
  Today, we continue to uphold our founding principles of integrity, reliability, and trust. We are proud to serve our clients with the same dedication and passion that our founders had when they started this company. As we look to the future, we are excited to continue to grow and evolve, always striving to exceed our clients' expectations and provide them with the best insurance solutions possible.</p>

      </div>
    </div>





    <div class="page">
      <div class="fullwidth-block">
        <div class="container">
          <h1 class="entry-title">Why you should choose us?</h1>
<p style="font-size: 1.5rem">Welcome to Genesis Insurers! We Warmly welcome you to our website where the whole importance is about your wellbeing
  At our insurance company, we are committed to providing our clients with the best possible coverage for their unique needs. Our team of experienced professionals is dedicated to delivering exceptional customer service and support every step of the way. We understand that insurance can be complicated, which is why we strive to make the process as easy and stress-free as possible for our clients. Whether you are looking for home, auto, or life insurance, we have a wide range of policies to choose from, all of which are designed to provide you with peace of mind and protection. Contact us today to learn more about how we can help you safeguard your future.We are dedicated to providing our clients with the best insurance solutions to protect their valuable assets. We understand that insurance can be a complex and confusing topic, which is why we strive to make the process as simple and straightforward as possible. Our team of experienced professionals is committed to helping you find the right coverage to meet your unique needs and budget. Whether you are looking for home, auto, life, or business insurance, we have the expertise to guide you through the process and ensure that you are adequately protected. Trust us to be your insurance partner and provide you with peace of mind knowing that your insurance needs are in good hands.
</p>
        </div>
      </div>
    </div>





      <div class="fullwidth-block">
        <div class="container">
          <h2 class="section-title">Our Team</h2>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="team">
                <figure class="team-image"><img src="images/p1.jpeg" alt=""></figure>
                <h2 class="team-name">Vikram Aditya </h2>
                <small class="team-title">CEO</small>

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="team">
                <figure class="team-image"><img src="images/p2.jpeg" alt=""></figure>
                <h2 class="team-name">Taimu Kang</h2>
                <small class="team-title">Managing Director</small>

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="team">
                <figure class="team-image"><img src="images/p3.jpeg" alt=""></figure>
                <h2 class="team-name">Sofia Bradley</h2>
                <small class="team-title">Public Relation</small>

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="team">
                <figure class="team-image"><img src="images/p4.jpeg" alt=""></figure>
                <h2 class="team-name">Thomas Andre</h2>
                <small class="team-title">Consultant</small>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('footer.ejs') %>