<head>
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<%- include('navbar.ejs') %>
<div class="change_password">
    <div class="image_div">
        <img src="images/settings.svg">
    </div>
    <div class="form_div">
        <form action="/" class="containerform" method="post">
            <input class="input" type="password" name="name" placeholder="Current Password">
            <input class="input" type="password" name="name" placeholder="New Password">
            <input class="input" type="password" name="name" placeholder="Confirm Password">

            <button
                    class="button" type="submit">
                Submit
            </button>
        </form>
    </div>

</div>
<%- include('footer.ejs') %>