<head>
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<%- include('navbar.ejs') %>
<div class="wrap">

    <form action="/" class="container" method="post">
        <div class="items">
            <p class="label">Your current password</p>  <input class="input" type="password" name="name" placeholder="Current Password">
        </div>

        <div class="items">
            <p class="label">Enter new password</p>  <input class="input" type="password" name="name" placeholder="New Password">

        </div>
        <div class="items">
            <p class="label">Confirm new password</p>  <input class="input" type="password" name="name" placeholder="Confirm Password">

        </div>

        <button
               class="button" type="submit">
            Submit
        </button>
    </form>

</div>