<head>
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<%- include('navbar.ejs') %>
<div class="change_password">
    <div class="image_div">
        <img src="images/settings.svg">
    </div>
    <div class="form_div">
        <form action="/change-password" class="containerform" method="post">
            <select name="Type"><option>User</option><option>Admin</option><option>Agent</option></select>
            <input class="input" type="email" name="email" placeholder="Email linked to your Genesis Account">
            <input class="input" type="password" id="password" name="password" placeholder="New Password">
            <p style="color: red"><%=err%></p>
            <button disabled style="background-color: gray"
                    class="button" type="submit">
                Send OTP
            </button>
        </form>
    </div>

</div>

<script>
    const passwordInput = document.getElementById('password');
    const phoneInput=document.getElementById('phone')
    const submitButton = document.querySelector('button[type="submit"]');
    const form=document.getElementById('form')
    var flag1=0
    var flag2=0
    const passwordRegex = "^(?=.*[A-Z])(?=.*[a-z])(?=.*\\d).{8,}$";
    const passwordValue = passwordInput.value;
    const phoneRegex='^[6-9]\\d{9}$'
    console.log(passwordInput.value.match(passwordRegex))

    passwordInput.addEventListener('input', function() {
        passVal=passwordInput.value.match(passwordRegex)
        if (passVal){
            submitButton.disabled = false;
            submitButton.style.backgroundColor='#3e54ac'        }
        if(!passVal) {
            submitButton.disabled = true;
        }

    })

</script>
<%- include('footer.ejs') %>