<head>
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<%- include('navbar.ejs') %>
<div class="change_password">
    <div class="image_div">
        <img src="images/settings.svg">
    </div>
    <div class="form_div">
        <form action="/change-password" class="containerform" method="post">
            <input class="input" type="email" name="email" placeholder="Email">
            <input class="input" type="number" id="phone" name="phone" placeholder="Phone number">
            <button disabled style="background-color: gray"
                    class="button" type="submit">
                Send OTP
            </button>
        </form>
    </div>

</div>

<script>
    const passwordInput = document.getElementById('phone');
    const phoneInput=document.getElementById('phone')
    const submitButton = document.querySelector('button[type="submit"]');
    const form=document.getElementById('form')

    const passwordRegex = "^(?=.*[A-Z])(?=.*[a-z])(?=.*\\d).{8,}$";
    const passwordValue = passwordInput.value;
    const phoneRegex='^[6-9]\\d{9}$'

    passwordInput.addEventListener('input', function() {
        console.log(passwordInput.value)
        console.log(passwordInput.value.match(phoneRegex))

        if (passwordInput.value.match(phoneRegex)){
            submitButton.disabled = false;
            submitButton.style.backgroundColor='#3e54ac'
        } else {
            submitButton.disabled = true;
        }
    });
</script>
<%- include('footer.ejs') %>