<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/contactus.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-XXXX" crossorigin="anonymous" />

</head>
<%- include('navbar.ejs') %>
  <!-- <div class="contactin">
    <img src="photos/Online world-pana.png">
    <div class="company-card">
      <div class="company-details">
        <h2>Insurance Company Name</h2>
        <p>123 Main Street</p>
        <p>City, State Zip Code</p>
        <p>Phone: (123) 456-7890</p>
      </div>
    </div>
      </div> -->
  <div class="container">
    <img src=" photos/Online world-pana.png" alt="Image">
    <div class="adresscards">
      <div class="company-card">
        <div class="company-details">
          <h2>GENESIS PVT LMT</h2>
          <p>123 Main Street</p>
          <p>City, State Zip Code</p>
          <p>Phone: (123) 456-7890</p>
        </div>
      </div>

      <div class="company-card">
        <div class="company-details">
          <h2>GENESIS PVT LMT</h2>
          <p>123 Main Street</p>
          <p>City, State Zip Code</p>
          <p>Phone: (123) 456-7890</p>
        </div>
      </div>
      <div class="company-card">
        <div class="company-details">
          <h2>GENESIS PVT LMT</h2>
          <p>123 Main Street</p>
          <p>City, State Zip Code</p>
          <p>Phone: (123) 456-7890</p>
        </div>
     

    </div>
   
    <!-- <div class="connect">
      <h2>Connect with us</h2>
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div> -->
  </div>
  <div class=" agentform12">
    <form class="agentform">
      <h2>Get In Touch</h2><br><br>
      <input type="text" id="name" placeholder="Name" name="name" required><br>

      <input type="email" id="email" placeholder="Email" name="email" required><br>
      <textarea rows="2" cols="40" placeholder="enter message here"></textarea><br>
      <input type="textbox" id="branch" placeholder="branch" name="branch"><br><br>
      <button type="submit" style="color:rgb(255, 255, 255);background-color:#3E54AC;padding:7px;">submit</button>
    </form>
   
  </div>
  </div>

  <%- include('footer.ejs') %>