
<head>
    <link rel="stylesheet" href="/css/details.css">
</head>
<%- include('navbar.ejs') %>

<div class="side-container">
    <div class="side-item">
     <p>Details    </p>
    </div>

    <div class="side-item">
      <p> Current policies</p>
    </div>

    <div class="side-item">
       <p>My Queries</p>
    </div>

    <div class="side-item">
      <p>Completed policies</p>
    </div>

    <div class="side-item">
     <p>Settings</p>
    </div>
</div>