<head>
    <link rel="stylesheet" href="/css/life-form.css">
</head>

<%- include('navbar.ejs')%>
<img class="car" src="/images/life-insurance.png">
<form class="form" action="#" method="post">
    <div class="row1"><p class="label">Name</p> <input  name="first-name" type="text" class="row13" placeholder="First name">
        <input name="last-name" type="text" class="row13" placeholder="Last name"></div>

    <div class="row1">
        <p class="label">Vehicle Registration number</p> <input name="reg-num" class="inner-row1" placeholder="Registation number">
    </div>
    <div class="row1">
        <p class="label">
            Vehicle class
        </p>
        <select name="vehicle" class="inner-row1">
            <option>Select</option>
            <option>Motor Car</option>
            <option>Motor Bike</option>
        </select>
    </div>
    <div class="row2">
        <div class="subrow"><p class="label">AADHAR</p> <input type="file" class="inner-row2" name="aadhar"></div>
        <div class="subrow"><p class="label">PAN</p> <input type="file" class="inner-row2" name="pan"></div>
    </div>
    <div class="row2">
        <div class="subrow"><p class="label">DOB Proof</p><input  name="dob-proof" type="file" class="inner-row2"></div>
        <div class="subrow"><p class="label">Health Certificate</p><input type="file" name="health_certificate" class="inner-row2"></div>

    </div>

    <div class="row1">
        <input class="health_" name="health-condition" placeholder="Any health defects you have suffered previously or are suffering currently">
    </div>

    <div class="row1">
        <p class="label">Beneficiary Name</p>
        <input name="nominee" class="inner-row1">

    </div>

    <div class="row2">
        <div class="subrow">
            <p class="label">Beneficiary Age</p>
            <input class="inner-row2" name="nominee-age">
        </div>
        <div class="subrow">
            <p class="label">Beneficiary Relation</p>
            <input class="inner-row2" name="nominee-relation">
        </div>
    </div>

    <div class="row1">
        <p class="label">Policy Number</p>
        <input class="inner-row1" name="policy-num">
    </div>

    <div class="row1">
        <p class="label">Policy Id</p>
        <input class="inner-row1" name="policy-id" value="policy id">
    </div>

    <div class="row2">
        <div class="subrow"> <p class="label">Cover Amount</p><input class="inner-row2" type="number" name="amount" ></div>
        <div class="subrow"> <p class="label">Type</p><select class="inner-row2">
                <option>Annually</option>
                <option>Monthly</option>
            </select></div>

    </div>

    <button class="button" type="submit">Submit</button>


</form>

<%-include('footer')%>