
<head>
    <link rel="stylesheet" href="/css/login.css">
</head>


<div class="nav" id="nav">
    <div class="innernav">
    <div class="logo" >
        <img class="logotop" src="css/okoklogo-transformed.ico">
    </div>
    <div class="main-buttons">
        <button class="navbut">Home</button>
        <button class="navbut">About Us</button>
        <button class="navbut">Services</button>
        <button class="navbut">Policies</button>
    </div>
    </div>

    <div class="nav1">
        <button class="navbut">Login</button>
        <button class="navbut">Signup</button>
        <img id="profile" class="profile" src="/css/profile.gif">
    </div>

</div>
<div id="menu" class="menu" style="display:none;">
    <div class="menuitem">
       <p>My Account</p>
    </div>
    <div class="menuitem">
        <p>Settings</p>
    </div>
    <div class="menuitem">
        <p>Info</p>
    </div>
    <div class="menuitem">
        <p>Logout</p>
    </div>
    <div class="menuitem">
        <p>My Account</p>
    </div>
    <div class="menuitem">
        <p>Settings</p>
    </div>
    <div class="menuitem">
        <p>Info</p>
    </div>
    <div class="menuitem">
        <p>Logout</p>
    </div>
</div>
<script>
    let image = document.getElementById('profile');

    let div = document.getElementById('menu');
    let nav=document.getElementById('nav');
    let flag=0
    image.addEventListener('click', function() {
        if(flag===0){
            flag=1
            div.style.display = 'flex';
            nav.style.position='relative'
            div.style.position='absolute';
            div.style.zIndex=9999
        }else if(flag===1){
            div.style.display = 'none'
            flag=0;
        }
       })
</script>
