
<head>
    <link rel="stylesheet" href="/css/login.css">
</head>


<div class="nav">
    <div class="innernav">
    <div>
        <img class="logotop" src="css/okoklogo-transformed.ico">
    </div>
    <div class="main-buttons">
        <button class="navbut">Home</button>
        <button class="navbut">About Us</button>
        <button class="navbut">Services</button>
        <button class="navbut">Policies</button>
    </div>
    </div>

    <div class="nav1">
        <button class="navbut">Login</button>
        <button class="navbut">Signup</button>
    </div>
</div>
