<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<div class="nav navstick" id="nav">
    <div class="innernav">
        <div class="logo" >
            <img class="logotop" src="/css/okoklogo-transformed.ico">
        </div>
        <div class="main-buttons">
            <a href="/"> <button style="font-size: larger;"id="navbut" class="navbut">Home</button></a>
            <a href="/aboutus"><button style="font-size: larger;"id="navbut" class="navbut">About Us</button></a>
            <a href="/services"><button style="font-size: larger;"id="navbut" class="navbut">Services</button></a>
            <a href="/policies"><button style="font-size: larger;"id="navbut" class="navbut">Policies</button></a>
        </div>
    </div>

    <div class="nav1">
        <a><button id="burger" class="navburger "><img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/hamburger-menu-1667904-2039427.png?f=avif&w=512"></button></a>
<!--        <a href="/login"><button style="font-size: larger;"id="navbut" class="navbut">Login</button></a>-->
<!--        <a href="/signup"><button style="font-size: larger;"id="navbut" class="navbut">Signup</button></a>-->
<!--        <img id="profile" class="profile" src="/css/profile.gif">-->
        <%if(!isAuthenticated){%>
            <a href="/login"> <button id="navbut" class="navbut">Login</button></a>
            <a href="/signup"> <button id="navbut" class="navbut" href="/signup">Signup</button></a>
            <img style="background-color: #3E54AC" id="profile" class="profile" src="/css/saver.png">

        <%}%>
        <%if(isAuthenticated){%>
            <a href="/logout"> <button id="navbut" class="navbut">Logout</button></a>

            <a href="/details"> <img id="profile" class="profile" src="/css/profile.gif"></a>
        <%}%>    </div>
    <div class="res_menu">
        <button style="font-size: larger;"id="closemebutt" class="closebutt">&times;</button>
       <a href="/"> <button style="font-size: larger;"id="navbut" class="navbut">Home</button></a>
       <a href="/aboutus"> <button style="font-size: larger;"id="navbut" class="navbut">About Us</button></a>
        <a href="/services"><button style="font-size: larger;"id="navbut" class="navbut">Services</button></a>
       <a href="/policies"> <button style="font-size: larger;"id="navbut" class="navbut">Policies</button></a>

    </div>

</div>
<div id="menu" class="menu" style="display:none;">
    <a href="/details"> <button id="menuitem" class="menuitem">
            <p>My Account</p>
        </button></a>


    <button id="menuitem" class="menuitem">
        <p>Settings</p>
    </button>
    <button id="menuitem" class="menuitem">
        <p>Info</p>
    </button>
    <button id="menuitem" class="menuitem">
        <p>Logout</p>
    </button>
    <button id="menuitem" class="menuitem">
        <p>My Account</p>
    </button>
    <button id="menuitem" class="menuitem">
        <p>Settings</p>
    </button>
    <button id="menuitem" class="menuitem">
        <p>Info</p>
    </button>
    <a href="/logout"> <button id="menuitem" class="menuitem">
       <p>Logout</p>
    </button></a>
</div>
<script>
    let image = document.getElementById('profile');
    let div = document.getElementById('menu');
    let nav=document.getElementById('nav');
    let flag=0
    // image.addEventListener('click', function() {
    //     if(flag===0){
    //         flag=1
    //         div.style.display = 'flex';
    //         // nav.style.position='relative'
    //         div.style.position='absolute';
    //         div.style.zIndex=9999
    //     }else if(flag===1){
    //         div.style.display = 'none'
    //         flag=0;
    //     }
    // })

    const burgerBtn = document.querySelector("#burger");
    const menuOptions = document.querySelector(".res_menu");
    const closeit = document.querySelector('.closebutt')
    burgerBtn.addEventListener('click',()=>
    {
        menuOptions.style.visibility='visible';
        menuOptions.style.zIndex='9900';

    })

    closeit.addEventListener('click',()=>{
        menuOptions.style.visibility='hidden';
    })
</script>


