<head>
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<%- include('navbar.ejs') %>
<div class="change_password">
    <div class="image_div">
        <img src="images/settings.svg">
    </div>
    <div class="form_div">
        <form action="/verifyOTP" class="containerform" method="post">
            <input class="input" name="email" value="<%=email%>" disabled>
           <p>Enter the otp:</p> <input class="input" type="number" name="name" placeholder="OTP">

            <button
                    class="button" type="submit">
                Submit
            </button>
        </form>
    </div>

</div>
<%- include('footer.ejs') %>