<head>

    <title>Write Query</title>
    <link rel="stylesheet" href="/css/write-query.css">
</head>

<%- include('navbar.ejs')%>
<img class="wrap" src="/css/query.svg">
<form action="#" method="post" class="form">

    <div class="text">
        Write your query in the given text box.
    </div>
    <textarea class="query"></textarea>
    <button class="btn" type="submit">Post Query</button>
</form>