.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 2vh;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
    border-color: dodgerblue;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid yellow;
}

.button5:hover {
    background-color:yellow;
    color: black;
}
.info{
    font-family: "Microsoft JhengHei UI" ;
    line-height: 4vh;
    font-size: 2vh;
    padding: 2% 4% 2% 4%;
    margin: 70px 40px 70px 40px ;
    border-style: ridge;
    border-width: 2vh;
    border-color: black;
    border-radius: 4vh;
}
@media screen and(max-width: 900px) {
.info{
    padding: 20% 20% 20% 20%;

}
}
@media screen and(max-width: 500px) {
    .info{
        font-size: 10px;
        line-height: 20px;
        margin: 70px 5px 70px 40px ;
        background-color: red;
    }
    .info1,.info2{font-size: 10%}
    .switchnav{
        display: inline;
    }

}
