.buyPolicy
{
  padding: 5px;
  margin: auto;
  
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 2vh;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
    border-color: dodgerblue;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid deeppink;
}

.button4:hover {
    background-color: hotpink;
    color: white;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid yellow;
}

.button5:hover {
    background-color:yellow;
    color: black;
}
.info{
    font-family: "Microsoft JhengHei UI" ;
    line-height: 4vh;
    font-size: 2vh;
    padding: 2% 4% 2% 4%;
    margin: 70px 40px 70px 40px ;
    border-style: ridge;
    border-width: 2vh;
    border-color: black;
    border-radius: 4vh;
}
@media screen and(max-width: 900px) {
.info{
    padding: 20% 20% 20% 20%;

}
}
@media screen and(max-width: 500px) {
    .info{
        font-size: 10px;
        line-height: 20px;
        margin: 70px 5px 70px 40px ;
        background-color: red;
    }
    .info1,.info2{font-size: 10%}
    .switchnav{
        display: inline;
    }

}
/* Styles for the loading page */
.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Initially white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
  }
  
  /* Styles for the loading text */
  .loading-text {
    font-size: 48px; /* Adjust font size as needed */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, pink, violet, darkblue, lightgreen, yellow, orange, red, pink);
    background-size: 200% 100%; /* Initial position of the gradient */
    animation: gradientTransition 3s linear infinite;
  }
  
  /* Keyframes animation for the gradient transition */
  @keyframes gradientTransition {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
  }
  