.change_password{

    width: 100%;
    height: auto;

}
.image_div{
    width: 75%;
    height: auto;
    position: relative;

}
.image_div img{
    object-fit: cover;
    z-index: 1;
}
.containerform  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -600px;


}
.containerform input{
    padding:2px;
    margin:10px;
    border-radius: 30px;
    border-style: none;
    color:rgb(0, 0, 0);
    background-color: rgba(228, 233, 245, 0.863) ;
    width: 40%;
}
.aget ::placeholder{
    color:rgba(250, 250, 250, 0.759);
    text-align: center;

}
.containerform button{
    border-radius: 30px;
    color: white;
    background-color:  rgb(34, 92, 229) ;
    border-style: none;
    padding: 2px;
}

@media only screen and  (max-width:800px){
    .containerform{
        top: -200px;
        left: -50px;
    }
    .image_div{
        width: 100%;
        height: auto;
    }
    .change_password{
        width: 80%;
    }
    .containerform input{
        width: 65%;
    }
}