
body{
    background-image: url("invite-cuate.svg");
    background-repeat: no-repeat;
    background-size: 220vh 180vh;
    height: 160vh;
}

.side-container{
    display: flex;
    flex-direction: column;
    align-items: center;
width:33vh;
    height: 150vh;
    background-color: rgba(236,242,255,0.9);

}

.side-item{
    width: 100%;
    height: 7%;
    color: #3E54AC;
    padding-left:20px;
}

.side-item>p{
    font-size: 130%;
    width: 90%;
    height: 6%;
    border-color: #3E54AC;

}

.side-item:hover{

    border-style: solid;
    border-width: 2px;
    width:90% ;
    height: 8%;
}

a{
    text-decoration: none;
    color: #3E54AC;
    font-size: 20px;
}



.detail-box{
    display: flex;
    flex-direction: column;
    margin-left: 80vh;
    margin-top: -115vh;
    background-color: rgba(192,212,250,1);
    width: 58vh;
    height: 100vh;
    border-radius: 50px;
    justify-content: space-evenly;
}

.detail-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

.input{
  width: 35vh;
  height: 7vh;
  border-radius: 30px;
    border-style: none;
    font-size: 18px;
    color: #3E54AC;
}

.label{
    width: 7vh;
    color: #3E54AC;
    font-size: 20px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.btn1{
    width: 11vh;
    height:7vh ;
    border-radius: 30px;
    border-style: none;
    background-color: white;
    color: #3E54AC;

}
.btn2{
    width: 30vh;
    height: 7vh;
    border-radius: 30px;
    border-style: none;
    background-color: white;
    color: #3E54AC;

}
.btn1:hover,.btn2:hover{
    cursor: pointer;
    box-shadow: 0 0 30px deepskyblue;

}

.input:focus{
    box-shadow: 0 0 30px deepskyblue;

}

.heading{
    margin-left: 98vh;
    margin-top: -116vh;
    background-color: white;
    width: 21vh;
    font-size: 28px;
    height:6vh ;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    color: #3E54AC;
}

.address{
    height: 14vh;
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;

}
