/* * {
    margin: 0;
    padding: 0;
} */





body{
    background-color: white;
    overflow-x: hidden;
    font-family: sans-serif;
}

.viewpol{
    text-decoration: none;
    color: white;
}
.heading{

    /* min-height: 20px; */
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin: auto 5% auto 5%;
    z-index: -1;
     font-size: 1.5em;


}

.subheads
{
margin-left: 100px;

}

.Image1
{
    margin-top: 0.2vh;
    position: relative;
    width: 45vh;
    height: 30vh;
    border-radius: 50vh;
}

.Image2
{
    position: relative; 
    margin: 20vh 15vh 15vh 15vh;
    width: 10%;
   
}

.img2
{
    border-radius: 10vh;
}


.matterbox
{
    height: auto;
    margin: 1vh 10vh 10vh 10vh;
    background-color:whitesmoke;
    border:2px solid maroon ;
    border-radius: 50px;
    display: flex;
    
}

.matter
{
    /* width: 75%; */
    position: relative;
    /* margin-right: 30px; */
    margin:100px 100px 75px 100px;
    font-size: 20px;
    padding: 1.5%;
    line-height: 50px;
    background-color: rgba(255,0,0,0.3);
    border-radius: 3vh;
}


.needoutline
{
    
    margin: 1vh 10vh 10vh 10vh;
    background-color: aliceblue;
    border:2px solid darkblue ;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.need{
    padding: 1.5%;
    font-size: 3vh;
    margin: 10vh 9vh 10vh 5vh;
    /* color: aliceblue; */
    line-height: 50px;
    background-color: rgba(0,100,255,0.2);
    border-radius: 10px;
    /* z-index: -1; */
    border-radius: 5vh;
}

#HIP1 
{
    margin: 2vh 5vh 2vh 1vh;
    position: relative;
   
}

.prereq
{
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(143, 83, 0);
    margin: 50px 100px 50px 100px;

}

.prereqhead
{
    color:white;
    border:2px;
    border-radius: 1000px;
    background-color:dodgerblue;
    border-style: ridge;
    text-align: center;
    margin: 15px 10px 25px 25px;

}

.prereqbodyleft
{
    padding: 4vh;
    margin:10px 300px 20px 50px;
    font-size: larger;
    color: black;
    line-height: 30px;
    background-color:rgb(249, 227, 102);
    border-radius: 10px;
    /* z-index: -1; */
    border-radius: 40px;

}


.prereqbodyright
{
    padding: 4vh;
    margin:10px 50px 20px 40vh;
    font-size: larger;
    line-height: 30px;
    color: black;
    background-color: rgb(250, 196, 90) ;
    border-radius: 10px;
    /* z-index: -1; */
    border-radius: 40px;

}

.genesis
{

    margin : 1vh 8vh 100px 100px;
    background-color: aliceblue;
    border:2px solid darkgreen;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.genimage
{
    height: 40vh;
    width:45vh;
    margin: 5vh 3vh 5vh 5vh;
    position:relative;
    border-radius: 10%;
}

.genesisbody
{
    font-size: 2.5vh;
    margin: 10vh 5vh 10vh 5vh;
    color:black;
    border-radius: 6vh;
    background-color: rgb(176, 254, 176);
    text-align: center;
    /* margin: 100px 125px 100px 125px; */
    padding: 5px;


}
/* 
.quotehealthcard
{

    text-align: center;
    color: white;
    font-size: 1.5em;
    width: 100%;
    padding: 3vh;
    margin-left: 850px;
    background-image: url("/photos/businessman-hold-shield-plus-.jpg");
    border-radius: 15px;

} */
.containerone{
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgba(192,212,250,0.7);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    margin: auto;
    /*text-align: center;*/

}

.cardone{
    border-radius: 20px;
    border-style: solid;
    flex: 0 1 23%;
    border-color: #3E54AC;
    background-color: white;
    text-align: center;
    width:23% ;
    display: flex;
    margin: 5vh 5vh 5vh 6.5vh;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    /* font: 10px sans-serif; */
}

.cardone:hover{
    height: 450px;
    width: 28%;
    margin: 2%;box-shadow: 13px 16px 21px 5px rgba(62,84,172,0.84);
}
.button{
    width: 150px;
    height: 40px;
    background-color: slateblue;
    border-radius: 100px;
    border-style: none;
    color: whitesmoke;
    font-size: larger;

}

.button:hover{
    width: 50%;
    height: 50px;
}

.card:hover{
    height: 450px;
    width: 28%;
    margin: 2%;
    box-shadow: 13px 16px 21px 5px rgba(62,84,172,0.84);
}

.ITEM1{
    flex:1 1 500px;
    font-size: 0.8em ;
    margin:2px;
    color: d;
}

.innernav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.genesishead
{
    color: blue;
    padding: 20px;
    background-color: aqua;
    margin:100px 100px 100px 100px;
    border:10px black;
}

.below{
    margin: 30px;
    border-radius: 40px;
    background-color: #3E54AC;
    color: white;
    width: 150px;
    height: 40px;
    border-style: none;
}

.below:hover{
    width: 200px;
    height: 50px;
}



@media screen and (max-width: 1200px) 
{
    .heading .subheads
    {
        padding: 5%;
        min-height: 0.2vh;
    }
    .Image1
    {
        display: none;
    }
    .Image2
    {
        display: none;
    }
    .matterbox
    {
        height: auto;
        display: block;
        padding: 1vh;
        max-width: 88%;
        margin: auto;
        display: block;
        flex-direction:column;
        /* max-height: 20vh; */
    }
    h1{
        font-size: xxx-large;
    }
    h2{
        font-size: xx-large;
    }
  
    .matter{
        padding: 4%;
        margin: 0%;
        font-size: xx-large;
 
      }
      .needoutline{
        height: auto;
        display: block;
        padding: 1vh;
        max-width: 88%;
        margin: auto;
        display: block;
        flex-direction:column;}
      .need{
        padding: 4%;
        margin: 0%;
        font-size: xx-large;}

      .genimage
      {
        margin: 2vh;
      }
      .genesis
      {
        height: auto;
        display: block;
        padding: 1vh;
        max-width: 88%;
        margin: auto;
        display: block;
        flex-direction:column;
      }
      .genimage
      {
        justify-content:center;
        left: 9%;
        
      }
      .genesisbody
      {
        padding: 4%;
        margin: 0%;
        font-size: xx-large;
      }
      
      .prereq{
        height: auto;
        display: block;
        padding: 1vh;
        max-width: 88%;
        margin: auto;
        display: block;
        flex-direction:column;
      }

      .prereqbodyleft,
      .prereqbodyright{
        padding: 2%;
        margin: 2%;
        font-size: xx-large;
        line-height: 35px;

      }

     .containerone
     {
        /* display: block;
        flex-direction: column;
        margin: 2%; */
        justify-content: space-evenly;
     }
     .cardone
     {
        flex: 0 0 80%;
      }

     .cardone:hover
     {
      display: none;
     }

     .below{
        display: none;
     }
     .img2{
        display: none;
     }
}

@media screen and (max-width:500px){
    
    body,p,h2,h1{
        font-size: small;
        line-height: 15px;
    }
    .subheads{
        font-size: large;
        text-align: center;
        margin: 0;
    }
    .genimage{display: none;
    }
    .matter{
        border-radius: 15%;
    }
    
}