.maincardrr,
.cardsinsideme {

  background-color: rgba(255, 255, 255, 0.8);

  justify-content: space-around;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
}

.fullwidth-block {
  animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.cardsinsideme {
  display: flex;
  overflow: hidden;

 
}
.navstick{
  position:  fixed;
  top: 0;
}

.cardsinsideme h2 {
  position: fixed;
  padding: 10px;
  margin: 10px;
  background-color: rgba(228, 233, 245, 0.45);
}

.card1 {
  position: relative;
  background-color: rgba(247, 251, 251, 0.316);
  width: 350px;
  height: 13rem;
  margin: 10px;
  margin-top: 20px;
  
  padding: 10px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 0px 10px #196260;
  transition: all 0.3s ease;
  font-size: 20px;
 object-fit: cover;
 align-items: center;
 align-items: center;
 align-self: center;
 align-content: center;
 text-align: center;
}

.card1image {

  display: flex;
}

.card1:hover img {
  box-shadow: 0px 0px 10px #acefe7;
  transform: scale(1.1);


  transition: all 0.5s ease;
}

.card1 img {
  width: 20%;
  height: 20%;
  
}

.card1:hover {
  width: 400px;
  height: 15rem;
  position: relative;
  transform: translateY(-20px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

}

.topcontainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.togglebutto {
  position: absolute;
  top: 0px;
  right: 0px;
  /* bottom:780px;
      
     float: right; */
  background: rgba(30, 22, 180, 0.8);
  color: white;
  display: block;
  margin: none;
  visibility: visible;
  z-index: 1;
  border-radius: 20px;


}

.togglebutto:hover {
  background-color: white;
  color: black;
  padding: 6px;
  margin: 7px;
}

.closeme {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 2;
  font-weight: bolder;
  font: 500;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  max-height: 450px;
  margin: 0;
   
  overflow: hidden;
  padding: 0px;

}
 
.slides {
  display: flex;
  transition: transf4orm 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  margin-right: 0px;
  position: relative;
  margin-left: 0px;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slide .caption {
  position: absolute;


  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  transition: bottom 0.5s ease;
  bottom: 50px;
  max-width: 35%;

}

.captions {
  width: calc(10%*1rem);
  max-height: 1.5rem;
  border-radius: 20%;
  ;
}

.slide:hover .captions {
  bottom: 90px;
}

.slide h2 {
  margin: 0;
  font-size: 24px;
}

.slide p {
  margin: 0;
  font-size: 18px;
  margin-top: 10px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;
}

.prev,
.next {
  background: transparent;
  border: none;
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.5s ease;
}

.prev:hover,
.next:hover {
  color: #ccc;
}

::placeholder {

  color: #201d1f;
  font-size: large;
  text-align: center;

}

.topcontainer {
  position: relative;
  display: flex;

}

.quotegeneratori {

   width: 40%;
  position: sticky;
  visibility: hidden;
}



@media screen and (max-width: 768px) {
  .slide {
    margin-right: 10px;
  }

  .controls {}


}

.card {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  float: left;
  display: none;
  color: white;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);

 }

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

}

.card:hover .closeme {
  top: 10px;
}

.card img {
  width: 50%;
  height: auto;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.card form {
  display: inline-block;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.hideit {
  display: 'none';
}

.card input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card button[type="submit"] {
  padding: 10px;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
} 


.fullwidth-block {
  padding: 50px 0;
  background-color: #b0e7eb;
  color: white;
   
}

.section-title,
.section-subtitle {
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  display: block;
}

.section-title:hover {
  
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, pink, violet, darkblue, lightgreen, yellow, orange, red, pink);
  background-size: 200% 100%; /* Initial position of the gradient */
  animation: gradientTransition 3s linear infinite;
  background-image: linear-gradient(45deg, pink, violet, darkblue, lightgreen, yellow, orange, red, pink);
  font-size: 48px;
  font-size: 3em;
  
}

.section-subtitle {
  font-size: 30px;
  font-size: 1.875em;
  color: #9ba1a6;
  color: white;
  margin-top: -50px;
  margin-bottom: 50px;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 100px #ff4da6, 0 0 150px #ff4da6;
    color: #0d7af8;} */
}

.feature {
  margin-bottom: 30px;
  text-align: center;
}

.feature i {
  font-size: 48px;
  font-size: 3em;
  color: #0f75bd;
  display: inline-block;
  margin-bottom: 20px;
}

.feature .feature-title {
  font-size: 20px;
  font-size: 1.25em;
  margin-bottom: 20px;
  color: #0f75bd;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.offer {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.offer .caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  padding: 20px;
}

.offer.caption-top .caption {
  top: 0;
}

.offer.caption-bottom .caption {
  bottom: 0;
}

.offer img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.offer .offer-title {
  margin: 0;
}

.fullwidth-block {
  padding: 50px 0;
}

.section-title,
.section-subtitle {
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
  display: block;
}

.section-title {
  font-size: 48px;
  font-size: 3em;
}

.section-subtitle {
  font-size: 30px;
  font-size: 1.875em;
  color: #9ba1a6;
  margin-top: -50px;
  margin-bottom: 50px;
}

.feature {
  margin-bottom: 30px;
  text-align: center;
}

.feature i {
  font-size: 48px;
  font-size: 3em;
  color: #0f75bd;
  display: inline-block;
  margin-bottom: 20px;
}

.feature .feature-title {
  font-size: 20px;
  font-size: 1.25em;
  margin-bottom: 20px;
  color: #0f75bd;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.offer {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.offer .caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  padding: 20px;
}

.offer.caption-top .caption {
  top: 0;
}

.offer.caption-bottom .caption {
  bottom: 0;
}

.offer img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.offer .offer-title {
  margin: 0;
}

.news-list {
  margin-top: 50px;
}

.news figure {
  margin-bottom: 20px;
  overflow: hidden;
}

.news figure img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.news .date {
  font-size: 14px;
  font-size: 0.875em;
}

.news .date img {
  margin-right: 10px;
  filter: grayscale(10%);
  color: white;
  object-fit: cover;
}

.news .entry-title {
  font-size: 16px;
  font-size: 1em;
  font-weight: 300;

}

.news .entry-title a {
  color: #000000;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-decoration: none;
}

.news .entry-title a:hover {
  color: #ffffff;
}

.news .entry-title a:after {
  content: " ";
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 7px;
  background: url("images/arrow-blue.png");
}



.slide {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.offer {
  transform: translateX(-100%);
  animation-name: slideInFromLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


.controls button {
  transform: rotate(0);
  transition: transform 0.5s;
}

.controls button:hover {
  transform: rotate(90deg);
}


/* Mobile devices */
@media (max-width: 600px) {
  .maincardrr {
    /* Add styles for mobile screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    background-color: rgba(228, 233, 245, 0.45);
  }

  .cardsinsideme {
    /* Add styles for mobile screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .card1 {
    /* Add styles for mobile screens */
    margin-bottom: 20px;
    width: 320px;
    height: 10rem;
  }
.card1:hover{
    width: auto;
    height: auto;
  }
  

  .card1 span {
    /* Add styles for mobile screens */

  }
}

/* Tablets */
@media (min-width: 600px) and (max-width: 1023px) {
  .maincardrr {
    /* Add styles for tablet screens */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardsinsideme {
    /* Add styles for tablet screens */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(228, 233, 245, 0.45);
  }

  .card1 {
    /* Add styles for tablet screens */
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: 40%;
    
  }

  .card1:hover{
    width: auto;
    height: auto;
  }

  .card1:nth-child(2n) {
    /* Add styles for tablet screens */
    margin-right: 0;
  }

  .card1 span {
    /* Add styles for tablet screens */
    display: none;
  }
}

/* Computers */
@media (min-width: 1500px) {
  .maincardrr {
    /* Add styles for computer screens */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardsinsideme {
    /* Add styles for computer screens */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card1 {
    /* Add styles for computer screens */
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: 25%;
  }

  .card1:nth-child(4n) {
    /* Add styles for computer screens */
    margin-right: 0;
  }

  .card1 span {
    /* Add styles for computer screens */
    display: inline-block;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .news-list .col-md-4 {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news-list .col-md-4 {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news-list .col-md-4 {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .caption {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .caption {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 1024px) {
  .caption {
    font-size: 18px;
    line-height: 1.6;
  }
}


/* Mobile devices */
@media only screen and (max-width: 480px) {
  .quotegeneratori {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 300px;
    padding: 20px;
    z-index: 9999;
  }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .quotegeneratori {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    z-index: 9999;
  }
}

/* Desktops and laptops */
@media only screen and (min-width: 769px) {
  .quotegeneratori {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 30%;
    max-width: 400px;
    padding: 20px;
    z-index: 9999;
  }
}

.fullwidth-block,
.maincardrr,
.entry-title {
  background-color: rgba(228, 233, 245, 0.45);
  color: black;
}

/* Mobile Devices: */


.disclamer{
  background-color: rgba(228, 233, 245, 0.45);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: end;
  align-items: end;
 

}
.disclamer img{
  margin-left: 0px;

}
.slide1{
  justify-content: center;
  align-items: center;
}

.captionagent .agentform{
  justify-content: center;
  align-items: center;
}


img {
  position: relative;
  width: 100%;
}

.captionagent {
  position: absolute;
  top: 35px;
  left: 25px;
  width: 220px;
  border-radius: 50px;
  height: 300px;
}
.agentform  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.agentform input{
  padding:2px;
  margin:2px;
  border-radius: 30px;
  border-style: none;
  color:rgb(0, 0, 0);
  /* background-color: rgba(228, 233, 245, 0.45) ; */
}
.aget ::placeholder{
  color:rgba(250, 250, 250, 0.759);
  
}
.agentform button{
  border-radius: 30px;
  color: white;
  background-color:  rgba(228, 233, 245, 0.45) ;
  border-style: none;
  padding: 2px;
}
@media screen and (max-width: 768px) { /* for tablet */
  .captionagent {
    width: 100%;
  }
}

@media screen and (max-width: 480px) { /* for mobile */
  .captionagent {
    width: 100%;
  }
  .captionagent form{
    width: 100%;
  }
}
  /* img:hover {
  transform: scale(1.3);
} */
 
 @media screen and (max-width:900px){
  .agentform{
    align-items: center;
   min-width: 300px;
    width: 100%;
    height: fit-content;
  }
  .caption{
    min-width: 350px;
  }
  .agentform input{
    width: 100%;
  }
  .captionagent{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: fit-content;
    padding: 20px;
    width: 500px;
    position: absolute;
    /* width: 100%;
   height: auto; */
  }
  .captionagent h2{
    align-items: center;
    
  }
 }

 .ager{
  display: flex;
  flex-direction: row;
  

 }
 .ager div{
  padding: 5px;
  margin: 10px;
  position: relative;
 }
 .rupee {
  font-size: 32px;
  vertical-align: top;
}
h4,span{
  text-align: center;
}
@media only screen and (max-width:580px){
  .topcontainer{
    margin-top: 0px;
  }
}
/* Styles for the loading page */
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Initially white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Styles for the loading text */
.loading-text {
  font-size: 48px; /* Adjust font size as needed */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, pink, violet, darkblue, lightgreen, yellow, orange, red, pink);
  background-size: 200% 100%; /* Initial position of the gradient */
  animation: gradientTransition 3s linear infinite;
}

/* Keyframes animation for the gradient transition */
@keyframes gradientTransition {
  0% {
      background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}
