body{
    height: 100vh;

}
button{
    cursor: pointer;
}
.wrap{

    width: 93%;
    height: 90vh;
    margin-left: 7vh;
    border-radius: 50px;
    flex-wrap: wrap;
    /*z-index: -1;*/
}



.container2{
    background-color: #3E54AC;

    display: flex;
width: 94%;
    height: 70%;
    flex-wrap: wrap;
    /*background-color: #3E54AC;*/
    margin-left: 5vh;
    margin-top: 10vh;
    justify-content: space-evenly;
    padding-top: 12vh;
    overflow: scroll;
    border-radius: 30px;

    /*background-color: #3E54AC;*/

}

.items{
    width: 90%;
    height: 30vh;
    background-color:  rgba(192,205,255,1);
    margin: 1vh 1vh 2vh 1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;



}

.heading{
    color: #3E54AC;
    font-size: 18px;
    padding-left: 20px;

}

.heading-wrap{
    background-color: white;
    border-radius: 30px;
    height: 5vh;
    width: 20vh;
    display: flex;
    align-items: center;
    margin-top: -8vh;


}
.inner-items{

    width: 70%;
    height: 20vh;
    background-color:  rgba(192,205,255,1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    margin-left: -20vh;
    flex-direction: column;
}
.img{
    margin-right: 12%;
    width: 20%;
    height: 90%;
}
.car-img{
    margin-right: 12%;
    width: 20%;
    height: 90%;
}
.but{
    height: 5vh;
    width: 20vh;
    border-style: none;
    background-color:#3E54AC;
    border-radius: 30px;
    color: white;
}

.but:hover{
    background-color: white;
    color: #3E54AC;
}
.inner-item{
    color: #3e54ac;
    font-size: 20px;

}.inner-item1{
     display: flex;
     width: 100%;
     justify-content: space-evenly;

}.inner-item2{
      display: flex;
      width: 100%;
    margin-top: 30px;
      justify-content: space-evenly;

}
@media  screen and (max-width: 1000px){
    .container2{
        margin-left: 10px;
    }
    .inner-items{
        flex-direction: column;
    }
    .img{
        width: 10vh;
        height: 12vh;
    }
    .nav1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}