
body{
    width: 100%;
    background-image: url("login.png");
    background-size: cover;
    background-repeat: no-repeat;


}
.signup-input{
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    border-color: #3E54AC;
    font-size: 20px;
    color: #3E54AC;
    margin: 8px auto 8px auto;
    animation: inputer 3s;
}

input:focus{
    box-shadow: 0 0 10px deepskyblue;

}


.signup-age{
    width: 90px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    color: #3E54AC;
    animation: lilbtn 3s;
    margin-left: 50px;

}

.country-code{
    width: 90px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    color: #3E54AC;
    animation: lilbtn 3s;
    margin-left: 25px;
}

select{
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: #3E54AC;
    border-radius: 30px;
    border-style: none;
    margin-right: 50px;
}

.loginimg{
    width: 150px;
    height: 150px;
    animation: logo 3s;
    margin:20px auto 40px auto;
    animation: logo 3s;

}
.logo{
    background-color: white;
    border-radius: 30px;
    margin-left: 20px;
    text-align: center;
    height: 70px;
    width: 70px;

}
.signup-form{
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
align-items: center;
    background-color: rgba(192,212,250,0.9);
    border-radius: 40px;
    margin-top: 55px;
    margin-bottom: 400px;

}

.signupdiv{
    margin: 50px auto 0 200px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height:600px;
    align-items: center;
}

input::placeholder{
    color: #3E54AC;
    font-size: 20px;
}

.agesex{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-phn{
    width: 180px;
    border-radius: 30px;
    height: 40px;
    border-color: #3E54AC;
    border-style: none;
    border-width: 0.5px;
    animation: lilbtn 3s;
    color: #3E54AC;
    font-size: 20px;
    margin-right: 20px;
}

.phone{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

::placeholder{
    padding-left: 5px;
}

.submit {
    background-color: #3E54AC;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    margin: 20px auto 20px auto;
    animation: btn 3s;
}

.submit:hover{
    box-shadow: 0 0 20px deepskyblue;

}

button:active{
    animation: click 1s;
}








