.form {
    width: 70%;
    margin: 20px auto;
    background-color: rgba(192,212,250,0.9);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #3e54ac;
    padding: 10px;
    border-radius: 30px;
}

.label {
    width: 55%;
    margin-right: 10px;
    font-size: 20px;
    color: #3e54ac;
}

.row13 {
    width: 20%;
    padding-left: 10px;

}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #3e54ac;
    padding: 10px;
    border-radius: 30px;
}

.inner-row1 {
    width: 45%;
    padding-left: 10px;
}

.inner-row2 {
    width: 45%;
    padding-left: 10px;

}

.car {
    width: 50px;
    margin-bottom: 10px;
}

.button {
    background-color: #3e54ac;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 45%;
}

.subrow {
    width: 45%;
}
input[type="file"] {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .row1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .label {
        width: 100%;
        margin-bottom: 10px;
    }

    .row13 {
        width: 100%;
        margin-bottom: 10px;
    }

    .row2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .inner-row1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .inner-row2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .subrow {
        width: 100%;
        margin-bottom: 20px;
    }
}
